html, body {
  margin: 0;
  padding: 0;
  background-color: #6441A4; }

.Header {
  padding: 3rem;
  text-align: center; }
  .Header__search {
    border: none;
    display: block;
    margin: 15px auto;
    outline: none;
    padding: 1rem;
    width: 90%; }
  .Header__title {
    color: white;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 3vw; }
